1 ICON "icon.ico"
KERNELS_TM              RCDATA "kernels.tm"
NAIF0012_TLS            RCDATA "spice_kernel/naif0012.tls"
PCK00010_TPC            RCDATA "spice_kernel/pck00010.tpc"
EARTH_LATEST_BPC        RCDATA "spice_kernel/earth_latest_high_prec.bpc"
EARTH_2025_BPC          RCDATA "spice_kernel/earth_2025_250826_2125_predict.bpc"
EARTH_1962_BPC          RCDATA "spice_kernel/earth_1962_250826_2125_combined.bpc"
DE442_BSP               RCDATA "spice_kernel/de442.bsp"
GM_DE440_TPC            RCDATA "spice_kernel/gm_de440.tpc"
JUP365_BSP              RCDATA "spice_kernel/jup365_subset.bsp"
